.contact-content {
    margin-top: 5vh;
    margin-left: 10vw;
}

.heading p:first-child {
    font-size: max(20px, 4vw);
    margin: 0;
}

.heading p:last-child {
    font-size: max(15px, 2vw);
    color: yellow;
}
